.breakpoints {
  position: fixed;
  top: 10%;
  bottom: 90%;
  left: 50%;
  z-index: 10000;
}

.breakpoints .breakpoint {
  background-color: gray;
  opacity: 0.75;
  transform: translate(-50%, -50%);
  padding: 0.5em 1em;
  border-radius: 1.88em;
}
