/* Noto - https://fonts.google.com/noto/fonts */

:root {
  /* Fonts */
  --noto-sans-font: 'Noto Sans';
  --noto-sans-display-font: 'Noto Sans Display';
  --noto-serif-font: 'Noto Serif';
  --noto-serif-display-font: 'Noto Serif Display';
  --noto-sans-code-font: 'Noto Sans Mono';

  /* Font Families */
  --noto-sans-font-family: var(--noto-sans-font), Arial, Helvetica, sans-serif;
  --noto-sans-display-font-family: var(--noto-sans-display-font), Arial, Helvetica, sans-serif;
  --noto-serif-font-family: var(--noto-serif-font), 'Times New Roman', Times, serif;
  --noto-serif-display-font-family: var(--noto-serif-display-font), 'Times New Roman', Times, serif;
  --noto-code-font-family: var(--noto-sans-code-font), 'Courier New', Courier, monospace;
}
