/* Font Families */
$text-font-family: var(--text-font-family);
$heading-text-font-family: var(--heading-text-font-family);
$code-text-font-family: var(--code-text-font-family);

/* Fonts */
$text-font: var(--text-font);
$heading-text-font: var(--heading-text-font);

/* Colours */
$background-color: var(--background-color);
$loader-color: var(--loader-color);
$logo-color: var(--logo-color);
$text-color: var(--text-color);
$heading-text-color: var(--heading-text-color);
$cover-text-color: var(--cover-text-color);

/* Gradients */
$overlay-gradient: var(--overlay-gradient);
$cover-gradient: var(--cover-gradient);
